[user]
	email = 20987660+bnwe@users.noreply.github.com
	name = Benjamin Wiese
	
[alias]
	ci = commit -v
	st = status
	co = checkout
	unstash = stash pop
	wip = commit -a -m 'WiP'
	blog = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	blogall= log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	b = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -20
	editbranch = !git rebase -i $(git merge-base HEAD $(git for-each-ref --format='%(upstream:short)' $(git symbolic-ref -q HEAD)))
	fetchall = fetch --all
	lb = !git blog $(git merge-base HEAD @{upstream})^..@{upstream} $(git merge-base HEAD @{upstream})^..HEAD
	wshow = -c color.diff.old='white red' -c color.diff.new='black green' show --word-diff=color
	wdiff = -c color.diff.old='white red' -c color.diff.new='black green' diff --word-diff=color

	# Create new worktree
	# This will create a new dir ../wt/new-feature and create a new branch with the same name as the dir: git worktree add ../wt/new-feature
	# Use like this: git w ../wt/feat-new
	w = worktree add 

[core]
	editor = vim
[push]
	default = tracking
[init]
	defaultBranch = main
